@model List<ITSAIntermediate_VelaphiMhlanga.Models.Domain.CompanyDetail>


@{
}

<h1> COMPANY DETAIL LIST </h1>

<table id="myTable" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>EmailAddress</th>
            <th>ContactNumber</th>
            <th>RegistrationNumber</th>
            <th>Address</th>
            <th>BusinessType</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var companydetails in Model)
        {
            <tr>
                <td>@companydetails.Id</td>
                <td>@companydetails.Name</td>
                <td>@companydetails.EmailAddress.ToString()</td>
                <td>@companydetails.ContactNumber.ToString("")</td>
                <td>@companydetails.RegistrationNumber.ToString("")</td>
                <td>@companydetails.Address</td>
                <td>@companydetails.BusinessType</td>
                <td><a href="CompanyDetails/View/@companydetails.Id">View</a></td>
            </tr>
        }
    </tbody>
</table>

