@model List<ITSAIntermediate_VelaphiMhlanga.Models.Domain.Address>

@{
}

<h1> ADDRESS LIST </h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Country</th>
            <th>Province</th>
            <th>City</th>
            <th>Suburb</th>
            <th>PostalCode</th>
            <th>UnitNumber</th>
            <th>ComplexName</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var addresses in Model)
        {
            <tr>
                <td>@addresses.Id</td>
                <td>@addresses.Country</td>
                <td>@addresses.Province</td>
                <td>@addresses.City</td>
                <td>@addresses.Suburb</td>
                <td>@addresses.PostalCode.ToString()</td>
                <td>@addresses.UnitNumber.ToString("")</td>
                <td>@addresses.ComplexName</td>
                <td><a href="Addresses/View/@addresses.Id">View</a></td>
            </tr>
        }

    </tbody>
</table>
