@model List<ITSAIntermediate_VelaphiMhlanga.Models.Domain.Address>

@{
}

<h1> ADDRESS LIST </h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Country</th>
            <th>Province</th>
            <th>City</th>
            <th>Suburb</th>
            <th>PostalCode</th>
            <th>UnitNumber</th>
            <th>ComplexName</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var addresslist in Model)
        {
            <tr>
                <td>@addresslist.Id</td>
                <td>@addresslist.Country</td>
                <td>@addresslist.Province</td>
                <td>@addresslist.City</td>
                <td>@addresslist.Suburb</td>
                <td>@addresslist.PostalCode.ToString()</td>
                <td>@addresslist.UnitNumber.ToString("")</td>
                <td>@addresslist.ComplexName</td>
                <td><a href="Address/View/@addresslist.Id">View</a></td>
            </tr>
        }

    </tbody>
</table>
